[Unit]
Description=Kubernetes Lab Bootstrap (controlplane/worker)
After=network-online.target cloud-init.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/k8s-lab/bootstrap/k8s-bootstrap.sh
RemainAfterExit=yes

# IMPORTANT: installs can take > 90s; don’t let systemd kill it
TimeoutStartSec=0

Restart=on-failure
RestartSec=15
StartLimitIntervalSec=0

[Install]
WantedBy=multi-user.target
